<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>35410242812-r03bcb5hdb37uaukskaht6pqhoa28lfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35410242812-r03bcb5hdb37uaukskaht6pqhoa28lfb</string>
	<key>API_KEY</key>
	<string>AIzaSyAq6Lovrk3S6tPx00wQtIcpYrH5psUyNnk</string>
	<key>GCM_SENDER_ID</key>
	<string>35410242812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.ChaseA-ChrisH.Bought-or-Not</string>
	<key>PROJECT_ID</key>
	<string>bought-or-not-d8d87</string>
	<key>STORAGE_BUCKET</key>
	<string>bought-or-not-d8d87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35410242812:ios:67c95cac429cc926663b79</string>
</dict>
</plist>